{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Welcome to Your Dojang{% endblock %}

{% block main %}
    <p>Here you can manage your students and access your dojang information.</p>
{% endblock %}